{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide" 
      style=" 
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url('/static/website/img/bg-img/bg1.png');
      background-size: 100% 100%;
      "
      >
        <div class="container h-100" >
          <div class="row h-100 align-items-center" >
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
    
                <h2 style="color: #fff;">Hello Glemshoppers!</h2>
                <p style="font-weight: 500;">
                  We provide affordable and quality products. We are a dependable provider of high-quality items at the lowest feasible price, with a priority on generating productive sales and increasing the buying power of our customers.</p>
                  <p style="font-weight: 500;">Glemshoppe is your key to a wide range of goods from all around the country. Quality cuisine, wines and liquor, furniture, appliances, health and personal care, home goods, and much more are all available.</p>

                <div class="welcome-btn-group">
                  <a href="{% url 'contact' %}" class="btn dento-btn booking-btn">Contuct Us</a></div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail single-blog-item mb-50">
            <center><img src="{% static 'website/img/bg-img/15.png' %}" alt="" ></center>
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>About Us</h2>
              <div class="line"></div>
            </div>
            <p>Glemshoppe is a latest addition to the Philippine retail and market scene. Glemshoppe, one of the newest and fastest-growing shops, has amassed a sizable market share since its inception in the early this year 2022. Glemshopppe is located in strategic locations and is rapidly expanding in provincial areas, winning local support. Its trendy retail experience and convenient locations have earned it loyal customers.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">20</span></h2>
            <h5>Years In the Business</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">1000</span>+</h2>
            <h5>Happy Customers</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">120</span></h2>
            <h5>Certificate</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2><span class="counter">40</span>+</h2>
            <h5>Employee</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->
 <!-- ***** Dento Dentist Area End ***** -->
 <div class="container">
  <div class="dento-border clearfix"></div>
</div>



<!-- ***** Blog Area Start ***** -->
<section class="dento-blog-area section-padding-100-0 clearfix">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>The Latest Products</h2>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="dento-blog-area section-padding-100-0 clearfix">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        
        <div class="row">
          {% for i in response %}
        
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item-h mb-100">
            <a style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter" data-name="{{i.title}}" data-description="{{i.description}}"  data-image="{{i.image}}" data-rating="{{i.rating.rate}}" data-count="{{i.rating.count}}" data-price="{{i.price}}"
            title="{{i.title}}" description="{{i.description}}" image="{{i.image}}" rating="{{i.rating.rate}}" count="{{i.rating.count}}" price="{{i.price}}"
            class="items">
              <center><img src="{{i.image}}" alt="" style="width:200px;
                height:150px;" class="mt-50"></center>
            
            <!-- Blog Content -->
            <div class="blog-content">
              <a class="post-title" style="white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100ch; font-size: 15px; color: #8d8741;">{{i.title}}</a>
              
              <div class="post-meta">
                <a title="rating"><i class="icon_clock_alt" ></i> <i class="fa fa-star"></i> {{i.rating.rate}}</a>
                <a title="sold"><i class="icon_chat_alt"></i> {{i.rating.count}} sold</a>
                <a title="price"><i class="icon_chat_alt"></i> <i class=" fa fa-usd"></i>{{i.price}} </a>
              </div>
            </a>
            </div>
          </div>
        </div>
        
        {% endfor %}
        
      </div>
    </div>
  </div>
</section>
<div class="mb-100 " style=" display: flex; justify-content: center;"><a href="{% url 'product' %}#" class="btn dento-btn booking-btn">Products</a></div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: #859DBD;" class="modal-title" id="title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div ><center><img id="image" src="" alt="" style="width:200px;"></center></div>
          <hr>
          <div class="row" style="color: #8d8741;">
            <div class="col-12 col-md-6 col-lg-4" title="sold"><i class="icon_chat_alt" id="count"></i> sold</div>
            <div class="col-12 col-md-6 col-lg-4" title="rating"><i class="icon_clock_alt" ></i> <i class="fa fa-star" id="rating"></i> </div>
            <div class="col-12 col-md-6 col-lg-4" title="price"><i class="icon_chat_alt"></i> <i class=" fa fa-usd" id="price"></i> </div>
          </div>
          <p  style="color: #859DBD;" id="description"></p>
          
      </div>
      <div class="mb-15">
        <center><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></center>
      </div>
    </div>
  </div>
</div>




                  
  <!-- ***** Blog Area End ***** -->





<script>
  $('.items').click(function(){
    $('#title').html($(this).data('name'));
    $('#description').html($(this).data('description'));
    $('#price').html($(this).data('price'));
    $('#rating').html($(this).data('rating'));
    $('#count').html($(this).data('count'));
    
    document.getElementById("image").src = $(this).data('image');
    document.getElementById("image").style.backgroundImage="url(" + $(this).data('image'); + ")";
  })
</script>


  
{% endblock %}

